/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
/* line 9, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/*
======== Classes to use by @extend ========
*/
/* line 4, ../sass/_mixins.scss */
.absoluteCentered, hexagon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
======== Mixins to use by @include ========
*/
/* line 13, ../sass/hexagons.scss */
html,
body,
main,
article {
  height: 100%;
}

/* line 20, ../sass/hexagons.scss */
body {
  background-color: #FF712C;
  position: relative;
}

/* line 25, ../sass/hexagons.scss */
main {
  font-size: 0;
}

/* line 29, ../sass/hexagons.scss */
article {
  width: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 35, ../sass/hexagons.scss */
article.hexagon1 {
  background-color: #FFF6C5;
}
/* line 39, ../sass/hexagons.scss */
article.hexagon2 {
  background-color: #004358;
}

/* line 44, ../sass/hexagons.scss */
hexagon-wrapper,
hexagon {
  display: block;
}

/* line 53, ../sass/hexagons.scss */
button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  font-family: FontAwesome;
}
/* line 66, ../sass/hexagons.scss */
button.stopper {
  width: 0;
  opacity: 0;
}
/* line 72, ../sass/hexagons.scss */
button.trigger:before {
  content: '\f04b';
}
/* line 75, ../sass/hexagons.scss */
button.trigger:focus, button.trigger:active {
  opacity: 0;
  width: 0;
}
/* line 80, ../sass/hexagons.scss */
button.trigger:focus + .stopper, button.trigger:active + .stopper {
  width: 100%;
  opacity: 1;
}
/* line 84, ../sass/hexagons.scss */
button.trigger:focus + .stopper:before, button.trigger:active + .stopper:before {
  content: '\f04d';
}
/* line 91, ../sass/hexagons.scss */
button:before {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out 200ms;
  -moz-transition: all 200ms ease-in-out 200ms;
  transition: all 200ms ease-in-out 200ms;
  font-size: 3rem;
  padding: 30px 120px;
}
/* line 101, ../sass/hexagons.scss */
button:hover:before {
  opacity: 1;
  visibility: visible;
}

/* line 133, ../sass/hexagons.scss */
.hexagon1 hexagon {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 173.22px;
  background: rgba(255, 113, 44, 0.3);
  margin: 86.61px 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 46, ../sass/_mixins.scss */
.hexagon1 hexagon:before, .hexagon1 hexagon:after {
  content: "";
  position: absolute;
  z-index: 10;
}
/* line 56, ../sass/_mixins.scss */
.hexagon1 hexagon:before, .hexagon1 hexagon:after {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
/* line 64, ../sass/_mixins.scss */
.hexagon1 hexagon:before {
  bottom: 100%;
  border-bottom: 86.61px solid rgba(255, 113, 44, 0.3);
}
/* line 69, ../sass/_mixins.scss */
.hexagon1 hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.61px solid rgba(255, 113, 44, 0.3);
}
/* line 125, ../sass/hexagons.scss */
.hexagon1 button:before {
  background-color: rgba(255, 113, 44, 0.3);
  color: #FFF6C5;
}
/* line 114, ../sass/hexagons.scss */
.hexagon1 button.trigger:focus ~ hexagon-wrapper hexagon, .hexagon1 button.trigger:active ~ hexagon-wrapper hexagon {
  -webkit-animation: rotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
  -moz-animation: rotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
  animation: rotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
}

/* line 141, ../sass/hexagons.scss */
.hexagon2 hexagon {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 173.22px;
  background: rgba(190, 219, 57, 0.5);
  -webkit-transform: scale(0.766);
  -moz-transform: scale(0.766);
  -ms-transform: scale(0.766);
  -o-transform: scale(0.766);
  transform: scale(0.766);
  -webkit-transition: all 200ms cubic-bezier(0.4, -0.3, 0.4, 1.2);
  -moz-transition: all 200ms cubic-bezier(0.4, -0.3, 0.4, 1.2);
  transition: all 200ms cubic-bezier(0.4, -0.3, 0.4, 1.2);
}
/* line 46, ../sass/_mixins.scss */
.hexagon2 hexagon:before, .hexagon2 hexagon:after {
  content: "";
  position: absolute;
  z-index: 10;
}
/* line 75, ../sass/_mixins.scss */
.hexagon2 hexagon:before, .hexagon2 hexagon:after {
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -moz-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  -o-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 44.1px;
}
/* line 84, ../sass/_mixins.scss */
.hexagon2 hexagon:before {
  top: -106.05px;
}
/* line 88, ../sass/_mixins.scss */
.hexagon2 hexagon:after {
  bottom: -106.05px;
}
/* line 125, ../sass/hexagons.scss */
.hexagon2 button:before {
  background-color: rgba(190, 219, 57, 0.3);
  color: #004358;
}
/* line 114, ../sass/hexagons.scss */
.hexagon2 button.trigger:focus ~ hexagon-wrapper hexagon, .hexagon2 button.trigger:active ~ hexagon-wrapper hexagon {
  -webkit-animation: edgesRotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
  -moz-animation: edgesRotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
  animation: edgesRotation 5000ms cubic-bezier(0.4, -0.3, 0.4, 1.2) infinite 1s alternate;
}

@-webkit-keyframes rotation {
  0%, 10% {
    -webkit-transform: none;
  }
  45%, 55% {
    -webkit-transform: rotate(45deg) scale(0.89);
  }
  90%, 100% {
    -webkit-transform: rotate(90deg) scale(0.85);
  }
}
@-moz-keyframes rotation {
  0%, 10% {
    -moz-transform: none;
  }
  45%, 55% {
    -moz-transform: rotate(45deg) scale(0.89);
  }
  90%, 100% {
    -moz-transform: rotate(90deg) scale(0.85);
  }
}
@keyframes rotation {
  0%, 10% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  45%, 55% {
    -webkit-transform: rotate(45deg) scale(0.89);
    -moz-transform: rotate(45deg) scale(0.89);
    -ms-transform: rotate(45deg) scale(0.89);
    -o-transform: rotate(45deg) scale(0.89);
    transform: rotate(45deg) scale(0.89);
  }
  90%, 100% {
    -webkit-transform: rotate(90deg) scale(0.85);
    -moz-transform: rotate(90deg) scale(0.85);
    -ms-transform: rotate(90deg) scale(0.85);
    -o-transform: rotate(90deg) scale(0.85);
    transform: rotate(90deg) scale(0.85);
  }
}
@-webkit-keyframes edgesRotation {
  0%, 10% {
    -webkit-transform: scale(0.766);
  }
  45%, 55% {
    -webkit-transform: rotate(-45deg) scale(1);
    background-color: rgba(190, 219, 57, 0.1);
  }
  90%, 100% {
    -webkit-transform: rotate(-90deg) scale(0.86);
  }
}
@-moz-keyframes edgesRotation {
  0%, 10% {
    -moz-transform: scale(0.766);
  }
  45%, 55% {
    -moz-transform: rotate(-45deg) scale(1);
    background-color: rgba(190, 219, 57, 0.1);
  }
  90%, 100% {
    -moz-transform: rotate(-90deg) scale(0.86);
  }
}
@keyframes edgesRotation {
  0%, 10% {
    -webkit-transform: scale(0.766);
    -moz-transform: scale(0.766);
    -ms-transform: scale(0.766);
    -o-transform: scale(0.766);
    transform: scale(0.766);
  }
  45%, 55% {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -o-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    background-color: rgba(190, 219, 57, 0.1);
  }
  90%, 100% {
    -webkit-transform: rotate(-90deg) scale(0.86);
    -moz-transform: rotate(-90deg) scale(0.86);
    -ms-transform: rotate(-90deg) scale(0.86);
    -o-transform: rotate(-90deg) scale(0.86);
    transform: rotate(-90deg) scale(0.86);
  }
}
@media screen and (max-width: 750px) {
  /* line 176, ../sass/hexagons.scss */
  article {
    width: 100%;
    display: block;
  }

  /* line 182, ../sass/hexagons.scss */
  .hexagon1 hexagon {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 86.61px;
    background: rgba(255, 113, 44, 0.3);
    margin: 43.305px 0;
  }
  /* line 46, ../sass/_mixins.scss */
  .hexagon1 hexagon:before, .hexagon1 hexagon:after {
    content: "";
    position: absolute;
    z-index: 10;
  }
  /* line 56, ../sass/_mixins.scss */
  .hexagon1 hexagon:before, .hexagon1 hexagon:after {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
  }
  /* line 64, ../sass/_mixins.scss */
  .hexagon1 hexagon:before {
    bottom: 100%;
    border-bottom: 43.305px solid rgba(255, 113, 44, 0.3);
  }
  /* line 69, ../sass/_mixins.scss */
  .hexagon1 hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.305px solid rgba(255, 113, 44, 0.3);
  }

  /* line 187, ../sass/hexagons.scss */
  .hexagon2 hexagon {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 86.61px;
    background: rgba(190, 219, 57, 0.5);
  }
  /* line 46, ../sass/_mixins.scss */
  .hexagon2 hexagon:before, .hexagon2 hexagon:after {
    content: "";
    position: absolute;
    z-index: 10;
  }
  /* line 75, ../sass/_mixins.scss */
  .hexagon2 hexagon:before, .hexagon2 hexagon:after {
    width: 106.065px;
    height: 106.065px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -moz-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    -o-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 22.05px;
  }
  /* line 84, ../sass/_mixins.scss */
  .hexagon2 hexagon:before {
    top: -53.025px;
  }
  /* line 88, ../sass/_mixins.scss */
  .hexagon2 hexagon:after {
    bottom: -53.025px;
  }
}
